html{
    height: 100%;
}

body{
    height: 100%;
    background-color: black;
    margin: 0;
}

#content{
    height: 100%;
    width: 100%;
    margin: 0;
}

.col-md-6,.col-md-3{
    height: 100%;
    padding: 0;
}

#left-panel,#right-panel,#componentView{
   height: 100%;
   width: 100%;
}

.col-md-6 .row{
    height: 50%;
    width: 100%;
    margin: 0;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
}

.blink_me {
    opacity: 1;
    font-size: 300%;
    display: inline-block;
}