{% load staticfiles %}
<html>
  <head>
    <meta charset=utf-8>
    <title>Robot Builder</title>
    <link href="{% static "robotBuilder/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "robotBuilder/css/main.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
    <div id="dialog" title="Create Connection">
      <label for="connName">Connection Name</label>
      <input type="text" name="connName" id="connName" value="connection" class="text ui-widget-content ui-corner-all">
      <label for="interface1">First Interface</label>
      <select name="interface1" id="interface1" class="ui-widget-content ui-corner-all"></select>
      <label for="interface2">Second Interface</label>
      <select name="interface2" id="interface2" class="ui-widget-content ui-corner-all"></select>
      <button type="button" onClick="addConnection()">Create</button>
    </div>
    <div class="row" id="content">
      <div class="col-md-3">
	<div id="left-panel"></div>
      </div>
      <div class="col-md-6">
	<div class="row">
	  <div id="componentView"></div>
        <div id="drawingView"></div>
	</div>
	<div class="row" style="height:45%; padding:2%; background-color:white" >

	    <div id="svg-view" width="100%" height="100%"></div>

	</div>
	<div class="row" style="height:5%">
	  <center>
	    <button type="button" onClick="buildComponent()">Build Component</button>
	    <button type="button" id="fEdge" onClick="fixEdgeInterface()">Fix Interface</button>
	    <button type="button" id="dSVG" onClick="downloadSVG()" disabled>Download DXF</button>
	    <button type="button" id="sComp" onClick="saveComponent()" disabled>Save Component</button>
	    <button type="button" id="sComp" onClick="splitComponent()" disabled>Split Component</button>
	  </center>
	</div>
      </div>
      <div class="col-md-3">
	<div id="right-panel"></div>
      </div>
    </div>
    <script src="{% static "robotBuilder/js/three.min.js" %}"></script>
    <script src="{% static "robotBuilder/js/interface.js" %}"></script>
    <script src="{% static "robotBuilder/js/dat.gui.min.js" %}"></script>
    <script src="{% static "robotBuilder/js/STLLoader.js" %}"></script>
    <script src="{% static "robotBuilder/js/TransformControls.js" %}"></script>
    <script src="{% static "robotBuilder/js/OrbitControls.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.7.0/math.min.js"></script>
    <script src="{% static "robotBuilder/js/constraintSolver.js" %}"></script>
    <script src="{% static "robotBuilder/js/componentView.js" %}"></script>
  </body>
</html>

