{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Robot Builder</title>
        <link href="{% static "robotBuilder/css/styles.css" %}" rel="stylesheet">
    </head>
    <body>

        <div class="main">
            <div class="work" id="tabs">
                <div class="tab" id="tabButtons">
                    <button class="tablinks" id="defaultOpen" onclick="openInterface(event, 'start')">Start</button>
                    <div class="dropdown" id="dropbtn">
                        <button class="dropbtn" onclick="showOptions()">+</button>
                        <div class="dropdown-content" id="rocoInterfaces">
                            <button class="newInt" id="mechInt" onclick="newInterface(event, 'm')">Mechanical Interface</button>
                            <button class="newInt" id="bcInt" onclick="newInterface(event, 'bc')">Base Code Interface</button>
                            <button class="newInt" id="ccInt" onclick="newInterface(event, 'cc')">Composite Code Interface</button>
                        </div>
                    </div>

                </div>
                <div id="start" class="tabcontent">
                    <h3>Starting page</h3>
                </div>
            </div>
            <!-- <div class="components">
                Components:
                ============================
            </div> -->
        </div>
        <script src="{% static "robotBuilder/js/action.js" %}"></script>
        <script src="{% static "robotBuilder/js/tabs.js" %}"></script>
    </body>
</html>
