{% load render_bundle from webpack_loader %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Robot Builder</title>
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> -->
        <link href="{% static "robotBuilder/css/bootstrap.min.css" %}" rel="stylesheet">
    </head>
    <body>
      <div id='react-app'></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
      <script src="{% static "robotBuilder/js/interface.js" %}"></script>

      {% render_bundle 'main' %}
      <script src="{% static "robotBuilder/js/jquery.min.js" %}"></script>
      <script src="{% static "robotBuilder/js/bootstrap.bundle.min.js" %}"></script>
      <link href="{% static "robotBuilder/css/testStyle.css" %}" rel="stylesheet">

      <!-- Menu Toggle Script -->
      <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
      </script>
    </body>
</html>
