{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Robot Builder</title>
        <link href="{% static "robotBuilder/css/styles.css" %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="{% static "robotBuilder/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "robotBuilder/css/main.css" %}" rel="stylesheet">
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </head>
    <body>

        <div class="main">
            <div class="work" id="tabs">
                <div class="tab" id="tabButtons">
                    <button class="tablinks" id="defaultOpen" onclick="openInterface(event, 'start')">Start</button>
                    <div class="add-dropdown" id="dropbtn">
                        <button class="dropbtn" onclick="showOptions()">+</button>
                        <div class="add-dropdown-content" id="rocoInterfaces">
                            <button class="newInt" id="mechInt" onclick="newInterface(event, 'm')">Mechanical Interface</button>
                            <button class="newInt" id="bcInt" onclick="newInterface(event, 'bc')">Base Code Interface</button>
                            <button class="newInt" id="ccInt" onclick="newInterface(event, 'cc')">Composite Code Interface</button>
                        </div>
                    </div>

                </div>
                <div id="start" class="tabcontent">
                    <h3>Starting page</h3>
                </div>
            </div>
            <!-- <div class="components">
                Components:
                ============================
            </div> -->
        </div>
        <button class="only_blockly" id="export" onclick="exportCode(event)">Export</button>
        <!-- JS imports for wrapper interface -->
        <script src="{% static 'robotBuilder/js/action.js' %}"></script>
        <script src="{% static 'robotBuilder/js/tabs.js' %}"></script>
    	<script>
    	   var mech_interface_src = "{% static "robotBuilder/html/mech_index.html" %}"
           var export_buttons = [];
    	</script>
        <!-- JS imports for Blockly Base Code Component interface -->
        <script src="{% static 'robotBuilder/js/blockly/appengine/storage.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/blockly_compressed.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/core/static_typing.js' %}"></script>
        <script src="{% static 'robotBuilder/js/blockly/core/type.js' %}"></script>
        <script src="{% static 'robotBuilder/js/blockly/core/types.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/blocks_compressed.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/javascript_compressed.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/python_compressed.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/arduino_compressed.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/msg/js/en.js' %}"></script>
		<script src="{% static 'robotBuilder/js/comps.js' %}"></script>
		<script src="{% static 'robotBuilder/js/indextoolbox.js' %}"></script>
		<script src="{% static 'robotBuilder/js/indexPortsBlocks.js' %}"></script>
		<script src="{% static 'robotBuilder/js/indexPortsXML.js' %}"></script>
		<script src="{% static 'robotBuilder/js/portCodeGen.js' %}"></script>
		<script src="{% static 'robotBuilder/js/indexsave.js' %}"></script>
        <script src="{% static 'robotBuilder/js/indexevents.js' %}"></script>
		<script src="{% static 'robotBuilder/js/codegen.js' %}"></script>
		<script src="{% static 'robotBuilder/js/python.js' %}"></script>
        <script src="{% static 'robotBuilder/js/blocks.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blockly/msg/js/en.js' %}"></script>
        <script src="{% static 'robotBuilder/js/populateBase.js' %}"></script> <!-- TODO: FILL this file out. -->

        <!-- JS imports for Blockly Composite Component interface -->
		<script src="{% static 'robotBuilder/js/download.js' %}"></script>
	  <script src="{% static 'robotBuilder/js/prevcomps.js' %}"></script>
		<script src="{% static 'robotBuilder/js/prevsave.js' %}"></script>
		<script src="{% static 'robotBuilder/js/prevCompCode.js' %}"></script>
		<script src="{% static 'robotBuilder/js/blocks.js' %}"></script>
		<script src="{% static 'robotBuilder/js/prevCodeGen.js' %}"></script>
		<script src="{% static 'robotBuilder/js/python.js' %}"></script>
        <script src="{% static 'robotBuilder/js/init.js' %}"></script>
        <script src="{% static 'robotBuilder/js/prevtoolbox.js' %}"></script>
        <script src="{% static 'robotBuilder/js/prevevents.js' %}"></script>  <!-- TODO: FILL this file out. -->
        <script src="{% static 'robotBuilder/js/populateComp.js' %}"></script> <!-- TODO: FILL this file out. -->

        <!-- JS imports for Mechanical Component interface -->
        <script src="{% static 'robotBuilder/js/populateMech.js' %}"></script> <!-- TODO: FILL this file out. -->
        <script src="{% static 'robotBuilder/js/three.min.js' %}"></script>
        <script src="{% static 'robotBuilder/js/interface.js' %}"></script>
        <script src="{% static 'robotBuilder/js/dat.gui.min.js' %}"></script>
        <script src="{% static 'robotBuilder/js/STLLoader.js' %}"></script>
        <script src="{% static 'robotBuilder/js/TransformControls.js' %}"></script>
        <script src="{% static 'robotBuilder/js/OrbitControls.js' %}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.7.0/math.min.js"></script>
        <script src="{% static 'robotBuilder/js/constraintSolver.js' %}"></script>
        <script src="{% static 'robotBuilder/js/componentView.js' %}"></script>
        <script>
            render();
            window.addEventListener('resize', onWindowResize, false);
            window.addEventListener('keydown', onKeyDown);
        </script>
    </body>
</html>
